{% extends 'base.html' %}
{% block title %} SignUp {% endblock %}
{% load static %}
{% block metatags %}

    <!-- Favicon -->
    <link rel="icon" href="{% static 'schools-images/favicon.ico' %}" type="image/x-icon">

{% endblock metatags %}
{% block page_content %}
    <nav class="navbar navbar-expand-lg context-bar">
      <a class="navbar-brand" href="#">
          <i class="fa-solid fa-lock"></i> Reset Password
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>

    {% include 'messages.html' %}

    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <form action="{% url 'profiles:request_password_change' %}" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-info mt-2">
                            <i class="fa-solid fa-paper-plane"></i> Send Request
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock page_content %}