{% extends 'base.html' %}
{% block page_content %}
    <nav class="navbar navbar-expand-lg context-bar">
      <a class="navbar-brand" href="#"> <i class="fa fa-briefcase"></i> Schools</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">

          <a class="nav-item nav-link" href="{% url 'schools:create' %}">
              <i class="fa fa-plus-circle"></i> Add New
          </a>
            <a class="nav-item nav-link" href="{% url 'schools:list' %}">
              <i class="fa fa-list"></i> View
            </a>
          <a class="nav-item nav-link" href="{% url 'schools:delete' pk=school.pk %}">
              <i class="fa fa-trash"></i> Delete</a>
        </div>
      </div>
    </nav>

    {% include 'messages.html' %}
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="">Update {{ school.name }}</h5>
                </div>
                <div class="card-body">
                    <form action="{% url 'schools:update' pk=school.pk %}" method="post">{% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-info btn-block">Update</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="card">
                <div class="card-header">
                    <h5 class="">{{ school.name }} Details</h5>
                </div>
                <div class="card-body">
                    {% if school %}
                        <table class="table table-hover table-striped table-responsive">
                            <tbody>
                                <tr><td>Name</td><td>{{ school.name }}</td></tr>
                                <tr><td>Phone</td><td>{{ school.primary_phone }}</td></tr>
                                <tr><td>Secondary Phone</td><td>{{ school.secondary_phone }}</td></tr>
                                <tr><td>Email</td><td>{{ school.primary_email }}</td></tr>
                                <tr><td>Additional email</td><td>{{ school.additional_email }}</td></tr>
                                <tr><td>Address</td><td>{{ school.address }}</td></tr>
                                <tr><td>Additional Address</td><td>{{ school.additional_address }}</td></tr>
                                <tr><td>Created</td><td>{{ school.date_created|date:'d-m-Y H:i' }}</td></tr>
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>





{% endblock page_content %}