{% extends 'base.html' %}
{% block title %} Add Pictures {% endblock %}
{% block page_content %}
    <nav class="navbar navbar-expand-lg context-bar">
      <a class="navbar-brand" href="#">
          <i class="fa-solid fa-school-flag"></i> Upload Pictures for {{ school.name }}
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link" href="{% url 'home' %}">
              <i class="fa fa-list"></i> View</a>
        </div>
      </div>
    </nav>

    <ul class="nav nav-tabs mb-4 workflow-tabs">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'schools:details' pk=school.pk %}">Details</a>
        </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'schools:update' pk=school.pk %}">Update</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">Upload Pictures</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Add Location</a>
      </li>
        {% if request.user.is_superuser %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'schools:approve' pk=school.pk %}">Approve</a>
            </li>
        {% endif %}
    </ul>

    {% include 'messages.html' %}

    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <form action="{% url 'schools:upload_pictures' pk=school.pk %}"
                          method="post" enctype="multipart/form-data">{% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-info btn-block mt-2">
                            Upload <i class="fa fa-cloud-upload"></i>
                        </button>
                    </form>

                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="card">
                <div class="card-header">
                    <h5 class="">{{ school.name }} pictures</h5>
                </div>
                <div class="card-body">
                    {% if pictures|length > 0 %}
                        <table class="table table-striped table-bordered table-hover table-condensed">
                            <thead>
                                <th>#</th><th>Picture</th><th>Name</th><th>Description</th>
                            </thead>
                            <tbody>
                            {% for picture in pictures %}
                                <tr>
                                    <td></td>
                                    <td><img src="{{ picture.photo.url }}" width="100px;" alt=""></td>
                                    <td>{{ picture.name }}</td>
                                    <td>{{ picture.description }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <div class="alert alert-info">No pictures added yet</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock page_content %}